
{% load static %}
{% block pagetitle %}
{{ title }}
{% endblock pagetitle %}
{% block body %}

<div>
  <div class="container">
    <!-- Header Section -->
    <div class="row mb-5 text-center text-white">
      <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%; font-weight: 400; color: rgb(4, 54, 4);">
          <b>{{ title }}🍂</b>
        </h1>
      </div>
    </div>

    <!-- Image Section -->
    <center>
      <div class="col">
        <div class="p-3 bg-white shadow rounded-lg" style="width: 30%;">
          {% if image_url %}
          <img src="{{ image_url }}" width="350" height="350" alt="Disease Image">
          {% else %}
          <img src="{% static 'images/default_image.jpg' %}" width="350" height="350" alt="Default Image">
          {% endif %}
        </div>
      </div>
    </center>
    <br>

    <!-- Description Section -->
    <div class="row">
      <div class="col mx-auto">
        <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
          <h5><b>
              {% if pred in healthy_indices %}
              Tips to Grow Healthy Plants :
              {% else %}
              Brief Description :
              {% endif %}
            </b></h5>
          <p>{{ desc }}</p>
        </div>
      </div>
    </div>

    <!-- Prevention Section -->
    <div class="row">
      <div class="col mx-auto">
        <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
          <h5><b>
              {% if pred in healthy_indices %}
              Benefits :
              {% else %}
              Prevent This Plant Disease By follow below steps :
              {% endif %}
            </b></h5>
          <p>{{ prevent }}</p>
        </div>
      </div>

      <!-- Supplement Section -->
      {% if pred != 4 %}
      <div class="col mx-auto">
        <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
          <center>
            <h5><b>
                {% if pred in healthy_indices %}
                Fertilizer :
                {% else %}
                Supplements :
                {% endif %}
              </b></h5>
            <br>
            <img src="{{ simage }}" width="300" height="350" alt="Supplement Image">
            <br>
            <br>
            <h6>{{ sname }}</h6>
            <a target="_blank" href="{{ buy_link }}">
              <button type="button" class="btn btn-success" style="background-color: #05380b;">
                Buy Product
              </button>
            </a>
          </center>
        </div>
      </div>
      {% endif %}
    </div>

    <!-- Back Button -->
    <div class="text-center mt-5">
      <a href="{% url 'submit' %}" class="btn btn-primary px-4 py-2 border-0" style="background-color: #E76F51;">
        Analyze Another Image <i class="fas fa-arrow-left ms-2"></i>
      </a>
      <a href="{% url 'home' %}" class="btn btn-outline-primary px-4 py-2 ml-2">
        Back to Home <i class="fas fa-home ms-2"></i>
      </a>
    </div>
  </div>
</div>

{% endblock body %}